.list {
  width: 0px;
}
.css-1ec4mnk-MuiFormControl-root-MuiTextField-root {
  margin-left: 32px;
}

.linkChat {
  text-decoration: none;
}

.ListAuthor {
  display: flex;
  justify-content: space-between;
  width: 298px;
}
.css-83ijpv-MuiTypography-root {
  text-overflow: ellipsis;
  max-width: 170px;
  white-space: nowrap;
  overflow: hidden;
}
